* {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  width: 930px;
  margin: 12px auto;
}

.topHeader {
  width: 100%;
  height: 150px;
}

#topnav {
  margin-top: 0px;
}

#topnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*background-color: #68777e;*/
  background-image: url("../images/background2.jpg");
}

#topnav li {
  float: left;
}

#topnav li a {
  display: block;
  color: #442;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5em;
  font-family: Georgia;
}

#topnav a.topa:hover:not(.active) {
  background-color: #dee;
}

.active {
  background-color:#dee;
}

main {
  min-height: 930px;
}

h1 {
  font-family: Georgia;
  color: #466;
  font-size: 2.5em;
  padding-top: 50px;
}

h2 {
  font-family: Georgia;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: rgba(45, 45, 55, 0.7);
  font-size: 2em;
  line-height: 24px;
  padding-bottom: 30px;
  text-align: left;
}

p {
  font-family: Helvetica;
  color: #345;
  line-height: 1.3em;
}

.topHead img {
  width: 70%;
  float: left;
}

.topHead ul {
  width: 25%;
  float: left;
}

.aboutUs {
  clear: both;
  margin-bottom: 3em;
}

.left {
  width: 48%;
  float: left;
  margin-right: 2%;
}

.right {
  width: 48%;
  float: right;
  margin-left: 2%;
}

.bioStuff {
  clear: both;
}

.bioStuff h2 { padding-top: 2em; }

.bioStuff article {
  margin: 4em;
}

#chris img {
  width: 60%;
  transform: rotate(7deg);
  float: left;
  padding-right: 3em;
  padding-bottom: 3em;
}
#jian img {
  width: 60%;
  transform: rotate(-5deg);
  float: right;
  padding-bottom: 3em;
}
#tung img {
  width: 50%;
  transform: rotate(7deg);
  float: right;
  padding-bottom: 3em;
}

footer {
  background-image: url("../images/background2.jpg");
  clear: both;
  color: #333;
  font-size: 18px;
  padding: 0.5em;
  text-align: center;
  color: #644;
}
