* {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  width: 930px;
  margin: 12px auto;
}

.topHeader {
  width: 100%;
  height: 150px;
}


#topnav {
  margin-top: 0px;
}

#topnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*background-color: #68777e;*/
  background-image: url("../images/background2.jpg");
}

#topnav li {
  float: left;
}

#topnav li a {
  display: block;
  color: #442;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5em;
  font-family: Georgia;
}

#topnav a.topa:hover:not(.active) {
  background-color: #dee;
}

.active {
  background-color:#dee;
}

section {
  width: 62%;
  float: left;
  margin: 0.5% 0.5% 0.5% 0;
}

aside {
  width: 34%;
  float: left;
  margin: 3% 0 0.5% 2.5%;
}

footer {
  background-image: url("../images/background2.jpg");
  clear: both;
  font-size: 18px;
  padding: 0.5em;
  text-align: center;
  color: #644;
}

.article_img {
  width: 40%;
  display: inline-block;
}

article div {
  width: 58%;
  display: inline-block;
}

.nhl_table { width: 100%; }

/*below added by jian zhao, 2017-09-30*/
table.weathertb {
    border: 1px solid white;
    border-radius: 5px;
}

#weather table th {
    text-align: center;
    font-size: 18px;
}

.weatherWeekTD {
    text-align: center;
    border-top: 1px solid white;
    border-right: 1px solid white;
}

td.borderTop {
    text-align: center;
    border-top: 1px solid white;
}

td.borderRight {
    text-align: center;
    border-right: 1px solid white;
}
td.textAlign {
    text-align: center;
}
.borderRight img, .textAlign img { width: 90%; }

#weather table td {
    width: 65px;
    height: 65px;
}

.sunny {
    width: 50px;
    background-image: url("../images/react-animated-weather.gif");
    background-position: -67px -40px;
    background-repeat: no-repeat;
}

.rain {
    width: 50px;
    background-image: url("../images/react-animated-weather.gif");
    background-position: -133px -105px;
    background-repeat: no-repeat;
}

.cloudy {
    width: 50px;
    background-image: url("../images/react-animated-weather.gif");
    background-position: -201px -35px;
    background-repeat: no-repeat;
}

.latest_news_text {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:22px;
}