* {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  width: 930px;
  margin: 0 auto;
}

#global_head {
  /*background-image: url("images/header-img.jpg");*/
  background-color: #f3f3f3;
  width: 100%;
}

nav {
  background-color: #d5d5d5;
  width: 100%
}

section {
  width: 64%;
  float: left;
  background-color: #8ee;
  margin: 0.5%;
}

aside {
  width: 34%;
  float: left;
  background-color: #fdd;
  margin: 0.5%
}

aside article {
  border: 1px solid black;
}

#local_header {
  background-color: #1ee;
}

footer {
  clear: both;
  color: #333;
  font-size: 18px;
}

article img {
  width: 40%;
  display: inline-block;
}

article div {
  width: 58%;
  display: inline-block;
}